.profileBkg{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.profileBox{
    border: 2.5px solid rgb(0,59,92);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.profileBox.userQuestions{
    max-width: 45vw;
    min-height: 55vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1em;
    text-align: center;
}

.profileBox.userDetails{
    width: 48em;
    height: 43em;
}