.QuestionPage{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
}

.MainQuestion{
    max-width: 70vw;
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    display: grid;
    grid-template-columns: auto auto;
}

.altText{
    font-family: 'Courier New', Courier, monospace;
}

.mainQuestionBox{
    border: 0.25em solid rgb(0, 114, 180);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    padding: 1em;
    border-radius: 2px;
}

.newAnswerBtn{
    border-radius: 2em;
}

.newAnswerText{
    margin-top: 2.5em;
}

.markerBtn{
    font-size: small;
    margin: 0;
    padding: 0 5px;
    border: none;
    letter-spacing: 0;
}

.postUserInfo{
    width:fit-content;
    float: right !important;   
}



.postUserInfo {
    background-color: rgb(0, 114, 180);
    box-shadow: 0 5px 0 darkblue;
    color: white;
    padding: 0.5em 0.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .postUserInfo:hover {
    background-color:rgb(0, 0, 155);
    cursor: pointer;
  }
  
  .postUserInfo:active {
    box-shadow: none;
    top: 5px;
  }
  
  